img{
  width: 50px;
}
.profile-icon{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 30px;
}
.button{
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #F2F6FE;
}
.button:hover{
  cursor: pointer;
}
.drawer{
  background-color: green;
  position: relative;
  top: 20px;
}
.account-setting{
  display: flex;
  align-items: center;
}
.account-setting-content{
  margin-left: 5px;
}
.no-action{
  background-color: rgba(68, 96, 241, 0.6);
}
.no-action:hover{
  background-color: rgba(68, 96, 241, 0.6);
  cursor: default;
}
#menu {
  margin: 0;
  /* padding: 8px 0; */
  list-style-type: none;
}

