main{
    overflow: hidden;
}
.header{
    height: 10%;
    margin-top: 5px;
}
main{
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
}
.projetInfo{
    margin-left: 60px;
}
.rightSection{
  margin-right: 29.78px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.rightSection,.leftSection{
    display: flex;
}
.nomProjet{
    font-size: 36px;
    margin: 0px;
}
.dateProjet{
    font-size: 10px;
}
.percentProjet{
    width: 36px;
    height: 36px;
    margin-left: 21px;
}
.infoIcon{
    margin-left: 19px;
    color: #4460F1;
    width: 24.22px;
    height: 24.22px;
    margin-top: 7px;
}
.members{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 30px;
}
.members img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}
.mdc-button{
  min-width: 30px;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  padding-left: 10px;
  padding-right: 10px;
}
.input-search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search mat-form-field input{
  border: 2px solid #4460F1;
}
a{
  cursor: pointer;
}
.content a{
  margin-right: 5px;
}
.content ng-avatar{
  border: 2px solid #4460F1;
  border-radius: 50%;
}

.mat-field{
  width: 100%;
}

.ava1{
    z-index: 1;
}
.ava2{
    z-index: 2;
    top: 0px;
    left: 23px;
}
.ava3{
    z-index: 3;
    top: 0px;
    left: 47px;
}
.resteMembers{
    z-index: 4;
    top: 0px;
    background-color: #4460F1;
    left: 67px;
    font-size: 12px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    border-radius: 50%;
    position: absolute;
}


.moreIcon{
    width: auto;
    height: 27.03px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.btnInvite{
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #4460F1;
    color: white;
    font-size: 12px;
    border: none;
    margin-right: 5px;
    margin-left: 6px;
}

.liste{
    display: flex;
    justify-content: flex-start;
}
.listSection{
    min-height: 780px;
    padding-left: 60px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}

/* Debut de add button list */
/* .listeDragDiv{
    display: inline-block;
    width: fit-content;
    border: 1px solid black;
} */
.cardAjoutList{
    width: 350px;
    min-width: 350px;
    height: fit-content;
    margin-top: 19px;
    margin-right: 60px;
    margin-bottom: 15px;
    background-color: #F2F6FE;
    overflow: visible;
}
.textAjouter {
    margin: 0px;
    font-weight: bold;
}
.plusAndText{
    display: flex;
    justify-content: flex-start;
}
.plus_add_icon{
    width: auto;
    height: 21.88px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    margin-left: 5px;
}
.btnTextClose{
    display: flex;
    justify-content: flex-start;
}
.divColorBtn{
    display: flex;
    justify-content: space-between;
}
.inputColor{
    height: 30px;
    width: 30px;
    border: none;
    margin-top: auto;
    border-radius: 50%;
    caret-color: transparent;
    cursor: pointer;
}
.colorTextColor{
    display: flex;
    justify-content: flex-end;
}
.colorTextColor p {
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.btnCreerListe{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    color: white;
    background-color: #4460F1;
    border: none;
    cursor: pointer;
    &:disabled {
        cursor: auto;
    }
}
.closeIcon{
    height: 30px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}


/* Debut de add button list */

/* sideMenu debut*/
.sideBackDisable{
    position: absolute;
    height: 100%;
    z-index: 5;
    transition: 0.3s all;
}
.sideBackActive{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.25)
}
.default{ /* l'état par defaut du side Menu */
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 5;
    transition: 0.3s all;
    translate: -226px;
}
.active{ /* l'état depile du side Menu */
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 5;
    transition: 0.3s all;
    translate: 0px;
}
.listeProjet{
    position: relative;
    width: 250px;
    height: 882px;
}
.depile{ /* l'état par defaut button */
    position: absolute;
    cursor: pointer;
    right : -24px;
    top: 57.41px;
    transition: 0.3s all;
}
.depiled{ /* l'état depilé du side Menu */
    position: absolute;
    cursor: pointer;
    right : -24px;
    top: 57.41px;
    transition: 0.3s all;
    transform: rotate(180deg);
}

/* projet name */
.projetName{
    width: 226px;
    margin: 0px;
    padding: 10px;
    transition: 0.3s all;
    text-align: start;
    &:hover{
        cursor: pointer;
        width: 199px;
        margin: 0px;
        padding: 10px;
        transition: 0.3s all;
        text-align: center;
        background-color: #F2F6FE;
    }
}
.projetNameActive{
    margin: 0px;
    padding: 10px;
    transition: 0.5s all;
    width: 199px;
    margin-left: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgba(68, 96, 241, 0.7);
}

.listeProjetText{
    margin-top: 12.5px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* sideMenu fin */

/***************************************************** Detail Menu  *******************************************/

.datailSideBackDisable{
    position: absolute;
    right: 0px;
    height: 100%;
    z-index: 5;
    transition: 0.3s all;
}
.detailSideBackActive{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
/* .detailDefault{
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 5;
    transition: 0.3s all;
    translate: -226px;
} */
.detailDefault{ /* l'état par defaut du side Menu */
    position: absolute;
    top: 0;
    right: 0px;
    background-color: white;
    z-index: 5;
    transition: 0.3s all;
    translate: 350px;
}
.datailActive{ /* l'état depile du side Menu */
    position: absolute;
    top: 0;
    right: 0px;
    background-color: white;
    z-index: 5;
    transition: 0.3s all;
    translate: 0px;
}
.detailList{
    width: 300px;
    height: 890px;
    padding-left: 15px;
    padding-right: 15px;
}
.detailList div{
    display: flex;
    justify-content: flex-start;
}
.avatar{
    margin-right: 10px;
}
.personIcon{
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}
.descIcon{
    width: 21.88px;
    height: 21.88px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}
.descriptionContent{
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

/* projet name */
.projetName{
    width: 226px;
    margin: 0px;
    padding: 10px;
    transition: 0.3s all;
    text-align: start;
    &:hover{
        cursor: pointer;
        width: 226px;
        margin: 0px;
        padding: 10px;
        transition: 0.3s all;
        text-align: center;
        background-color: #F2F6FE;
    }
}

.listeProjetText{
    margin-top: 12.5px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/***************************************************** Detail Menu  *******************************************/
/* Dialog tache */

.modaleDetail{
    display: block;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalDetailContent{
    width: 700px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

/* Dialog tache */

/* Drag css */
/* .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  } */

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.no-action:hover{
  background-color: transparent;
  cursor: default;
}
.account-setting{
  display: flex;
  align-items: center;
}
.account-setting-content{
  margin-left: 5px;
}

.invite{
  background-color: blue;
}
.invite p{
  color: white;
  font-weight: bold;
}
.btn-more{
  background-color: white;
}
.btn-more:hover{
  background-color: #DBDBDB;
}
