<div class="header">
    <app-header></app-header>
</div>
<main>
    <!-- Debut Side Bar -->
    <section id="sideBack" class="sideBackDisable">
        <div id="sideMenu" class="default">
            <div class="listeProjet">
                <div id="button" (click)="depile()" class="depile">
                    <img src="../../assets/flèche-droite.png" alt="" srcset="">
                </div>
                <p class="listeProjetText">Liste des projet</p>
                <p class="projetName" *ngFor="let projet of projets" (click)="selecProjet(projet.id)">{{projet.nom}}</p>
            </div>
        </div>
    </section>
    <!-- Fin Side Bar -->
    <!-- Debut detail Bar -->
    <section id="detailSideBack" class="detailSideBackDisable">
        <div id="detailSideMenu" class="detailDefault">
            <!-- <div class="listeProjet">
                <div id="button" (click)="depile()" class="depile">
                    <img src="../../assets/flèche-droite.png" alt="" srcset="">
                </div>
                <p class="listeProjetText">Liste des projet</p>
                <p class="projetName" *ngFor="let projet of projets" (click)="selecProjet(projet.id)">{{projet.nom}}</p>
            </div> -->
        </div>
    </section>
    <!-- Debut detail Bar -->
    <header>
        <div class="leftSection">
            <div class="projetInfo">
                <p class="nomProjet"><b>Facebook</b></p>
                <span class="dateProjet">2023-08-26 - 2023-08-27</span>
            </div>
            <igx-circular-bar
                [value]="75"
                [animate]="true"
                class="percentProjet"
            ></igx-circular-bar>
            <img class="infoIcon" src="../../assets/info-24.png" alt="" srcset="">
        </div>
        <div class="rightSection">

          <ng-avatar-group>
            <a ><ng-avatar [size]="30" photo="assets/1.jpg" [matMenuTriggerFor]="profile"></ng-avatar></a>
            <a ><ng-avatar [size]="30" photo="assets/2.jpg"></ng-avatar></a>
            <a ><ng-avatar [size]="30" photo="assets/3.jpg"></ng-avatar></a>
            <button style="background-color: transparent; border: none; cursor: pointer; padding: 0; margin: 0" mat-button [matMenuTriggerFor]="menu">
              <ng-avatar [size]="30" color="#4460F1" text="+7"></ng-avatar>
            </button>
          </ng-avatar-group>

            <!--<div class="members">
              <img class="ava1" src="../../assets/user_man.png" alt="" srcset="">
              <img class="ava2" src="../../assets/user_women.png" alt="" srcset="">
              <img class="ava3" src="../../assets/user_man.png" alt="" srcset="">
              <button mat-button [matMenuTriggerFor]="menu">+7
              </button>
              <span class="resteMembers">

              </span>

            </div>-->
          <button mat-button class="invite" (click)="onInvited()">
            <mat-icon style="color: white">add</mat-icon>
            <p>Invité</p>
          </button>
          <button style=" border: none; cursor: pointer;" class="btn-more">
            <mat-icon class="mat-18" style="">more_horiz</mat-icon>
          </button>
        </div>
    </header>
    <section class="listSection">
        <div cdkDropList class="listeDragDiv" [cdkDropListData]="listes" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <div class="liste" cdkDropListGroup>
                <app-list-taches cdkDragLockAxis="x" *ngFor="let list of listes" [liste] ="list" [idList]="list.id" [titre] = "list.titre" cdkDrag></app-list-taches>
            </div>
        </div>
        <igx-card class="cardAjoutList">
            <igx-card-content>
                <div id="addListText" class="plusAndText">
                    <img class="plus_add_icon" src="../../assets/plus_add_icon.png" alt="" srcset="">
                    <p class="textAjouter">Ajouter une liste</p>
                </div>
                <form id="addListForm" [formGroup]="addListForm" (ngSubmit)="onSubmit()" >
                    <igx-input-group>
                        <input igxInput name="titreListe" type="text" formControlName="titreListe" />
                        <label igxLabel for="titreListe">Titre du liste</label>
                    </igx-input-group>
                    <div class="divColorBtn">
                        <div class="btnTextClose">
                            <input class="btnCreerListe" type="submit" [disabled]="!addListForm.valid" value="CREER">
                            <img class="closeIcon" src="../../assets/close_icon.png" alt="" srcset="">
                        </div>
                        <div class="colorTextColor">
                            <p>couleur</p>
                            <input class="inputColor" [(colorPicker)]="color" [style.background]="color"/>
                        </div>
                    </div>
                </form>
            </igx-card-content>
        </igx-card>
        <!-- <div class="addListDiv">
            <div class="plusAndText">
                <img class="plus_add_icon" src="../../assets/plus_add_icon.png" alt="" srcset="">
                <p>Ajouter une liste</p>
            </div>
        </div> -->
    </section>
</main>

<mat-menu #menu="matMenu" class="menu">
  <div class="content" (click)="$event.stopPropagation()">
    <p style="text-align: center; font-size: 18px">Membres du projet</p>
    <div class="input-search">
      <mat-form-field appearance="outline" class="mat-field">
        <input matInput placeholder="Rechercher un membre" autofocus style="border: 2px solid red">
      </mat-form-field>
    </div>
    <div>
      <a >
        <ng-avatar [size]="40" photo="assets/1.jpg"></ng-avatar>
      </a>
      <a >
        <ng-avatar [size]="40" photo="assets/2.jpg"></ng-avatar>
      </a>
      <a  >
        <ng-avatar [size]="40" photo="assets/3.jpg"></ng-avatar>
      </a>
      <a>
        <ng-avatar [size]="40" photo="assets/4.jpg"></ng-avatar>
      </a>
      <a >
        <ng-avatar [size]="40" photo="assets/1.jpg"></ng-avatar>
      </a>
      <a >
        <ng-avatar [size]="40" photo="assets/2.jpg"></ng-avatar>
      </a>
      <a >
        <ng-avatar [size]="40" photo="assets/3.jpg"></ng-avatar>
      </a>
    </div>
  </div>
</mat-menu>

<mat-menu #profile="matMenu">

  <button mat-menu-item class="no-action">
    <div class="account-setting">
      <ng-avatar [size]="50" photo="assets/1.jpg"></ng-avatar>
      <div class="account-setting-content">
        <p style="margin-bottom: 0">
          Adama
        </p>
        <p style="margin-top: 0">adama@gmail.com</p>
      </div>
    </div>
  </button>

  <button mat-menu-item >
    <mat-icon>tune</mat-icon>
    <span>Voir le profile</span>
  </button>
</mat-menu>


<!--
<mat-menu #profile="matMenu" class="profile-menu">
  <div class="card">
    <div class="cover-photo">
      <img src="assets/1.jpg" class="profile">
    </div>
    <h3 class="profile-name" style="color: black">James Carson</h3>
    <p class="about">UI/UX Designer <br> Front End Developer</p>
  </div>
</mat-menu>-->
