.modalContent{
    width: 700px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.textField{
    width: 100%;
    margin-bottom: 10px;
}
.btnGroupe{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.btnCreer{
    margin-left: 15px;
}