<div class="modalContent">
    <div class="modalHeader">
        <h1 >Céer une nouvelle tâche</h1>
    </div>
    <div class="modalBody">
        <form class="formTache" [formGroup]="data" >
            <mat-form-field class="textField" appearance="outline">
                <mat-label>Titre du tâche</mat-label>
                <input matInput placeholder="Placeholder" formControlName = "titreTache">
            </mat-form-field><br>
            <mat-form-field class="textField" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" formControlName = "description"></textarea>
            </mat-form-field>
            <igx-date-range-picker formControlName ="dateEcheance">
                <label igxLabel>Date Echeance</label>
            </igx-date-range-picker>
            <div class="btnGroupe">
                <button mat-raised-button type="button" (click)="onAnnulerClick()"  color="warn">ANNULER</button>
                <button mat-raised-button [mat-dialog-close]="data" [disabled]="!data.valid" class="btnCreer" type="submit" color="primary">CREER</button>
            </div>
        </form>
    </div>
</div>