.body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h3, p{
  text-align: center;
}
h1{
  font-size: 128px;
  margin-bottom: 0;
  margin-top: 0;
}
.icon{
  text-align: center;
}
