<div class="body">
  <div mat-dialog-title>
    <h2>Inviter un nouveau </h2>
  </div>

  <div mat-dialog-content class="content">
    <div class="form-invite">
      <div class="form">
        <mat-form-field class="input-field" appearance="outline">
          <input matInput type="email" placeholder="Email du nouveau membre" class="inputText" [(ngModel)]="email">
        </mat-form-field>
        <div class="button">
          <button mat-flat-button class="btn-share" style="color: white" (click)="inviteMember()">
            Inviter
          </button>
        </div>
      </div>
    </div>

    <div class="share-with-link">
      <!--<mat-icon >link</mat-icon>-->
      <img src="assets/link.png" alt="" style="width: 40px; height: 40px">
      <div>
        <p>Partager ce tableau avec un lien</p>
        <p><a href="">Créer un lien</a></p>
      </div>
    </div>

    <div class="member-action" *ngFor="let member of members">
      <div class="left">
        <ng-avatar [size]="50" [photo]="member.imageUrl"></ng-avatar>
        <div>
          <p style="margin-bottom: 0; font-weight: bold">{{member.firstName+' '+member.lastName}}</p>
          <p style="margin-top: 0; font-size: 12px">{{member.email}}</p>
        </div>
      </div>

      <div class="right">
        <button mat-flat-button class="btn-withdraw" style="color: white" (click)="removeMember(member.id)">Retirer</button>
      </div>
    </div>
  </div>

</div>
