<div class="body">
  <div mat-dialog-title>
    <h2>Inviter un nouveau </h2>
  </div>

  <div mat-dialog-content class="content">
    <div class="form-invite">
      <form >
        <mat-form-field style="width: 300px;" class="input-field" appearance="outline">
          <input matInput placeholder="Email du nouveau membre">
        </mat-form-field>
        <div class="button">
          <button mat-flat-button class="btn-share" style="color: white">
            Inviter
          </button>
        </div>
      </form>
    </div>

    <div class="share-with-link">
      <!--<mat-icon >link</mat-icon>-->
      <img src="assets/link.png" alt="" style="width: 40px; height: 40px">
      <div>
        <p>Partager ce tableau avec un lien</p>
        <p><a href="">Créer un lien</a></p>
      </div>
    </div>

    <div class="member-action">
      <div class="left">
        <ng-avatar [size]="50" photo="assets/1.jpg"></ng-avatar>
        <div>
          <p style="margin-bottom: 0; font-weight: bold">Drissa Sidiki Traore</p>
          <p style="margin-top: 0; font-size: 12px">drissasidiki@gmail.com</p>
        </div>
      </div>

      <div class="right">
        <button mat-flat-button class="btn-withdraw" style="color: white">Retirer</button>
      </div>
    </div>
    <div class="member-action">
      <div class="left">
        <ng-avatar [size]="50" photo="assets/1.jpg"></ng-avatar>
        <div>
          <p style="margin-bottom: 0; font-weight: bold">Adama Konake</p>
          <p style="margin-top: 0; font-size: 12px">adamakonake@gmail.com</p>
        </div>
      </div>

      <div class="right">
        <button mat-flat-button class="btn-withdraw" style="color: white">Retirer</button>
      </div>
    </div>
  </div>

</div>
