<div  mat-dialog-title class="title">
  <h1>{{data.title}}</h1>
</div>

<form [formGroup]="projectForm" class="form">

  <div  mat-dialog-content>
    <div class="full">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="nom">
      </mat-form-field>
    </div>



    <div class="full">
      <mat-form-field appearance="outline" cl>
        <mat-label>Entrez une plage de dates (date debut - date fin)</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Date de debut" formControlName="startDate">
          <input matEndDate placeholder="Date de fin" formControlName="endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="full">
      <mat-form-field appearance="outline">
        <mat-label>Textarea</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions class="right">
    <button mat-raised-button style="background-color: #AF0101; color: white" (click)="annuler()">Annuler</button>
    <button mat-raised-button style="background-color: #4460F1; color: white" type="submit" (click)="addProject()">Enregistrer</button>
  </div>

</form>
